%tr
  %td= permission.id
  %td= permission.action
  %td.text-right
    = link_to admin_permission_path(permission), data: {toggle: "modal"}, class: 'btn btn-xs btn-warning' do
      %i.fa.fa-pencil
    = link_to admin_permission_path(permission), method: :delete, confirm: ('Are you sure?'), class: 'btn btn-xs btn-danger' do
      %i.fa.fa-trash
