%h1
  Báo cáo tổng quan
  .pull-right
%hr

.row
  .col-md-12
    .box
      %h3 Deal Forecast
      %br
      %br
      %p.text-center No deals to show at this time
      %br
      %br
.row
  .col-md-6
    .box
      %h3 Sales Performance
      %br
      %br
      %p.text-center No deals to show at this time
      %br
      %br
  .col-md-6
    .box
      %h3 Deal Closed vs Goals
      %br
      %br
      %p.text-center No deals to show at this time
      %br
      %br