.module.form-module.max-width
  .toggle
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
  .form
    .result
    %h2 Tạo nhân viên mới
    = render 'form'

  .cta
    = link_to 'Trở về', admin_users_path