=render "layouts/speed-component/header/header_speed_todo"
//tach ra 1 cum
%speed-container
  %div.row.wrapper
    -todo_users = current_user.todos.where(:status => 'undone',:archived => [nil,false]).order("position,due_date ASC")
    -# =render "frontend/todos/todo_left", todo_users: todo_users
    -# Tắt chức năng keo thả bên task nếu ở trang backlogs
    %left-container.speed-border-radius.border-speed
      %div.container-speed-header
        %div.left-header.speed-border-radius today-task
      %div.form-group.container-today-task.wrapper-todo-team-list
        - current_user.todos.joins("LEFT JOIN todo_lists ON todo_lists.id = todos.todo_list_id").where(todo_lists: {:archived => [nil,false]},:status => 'undone', :archived => [nil,false]).order("position,due_date ASC").limit(5).each do |todo_detail|
          -if !todo_detail.nil?
            - if (todo_detail.todo_list.present? and todo_detail.todo_list.archived != true)
              %div.col-md-12.task-item.todo-limit-width-left.remove-padding-left
                %div.checkbox
                  %label.speed-lable-box.show1line
                    %input{:type => "checkbox", value: todo_detail.id}
                    %span.cr.todos
                      %i.cr-icon.glyphicon.glyphicon-ok
                    %span.todos-content
                      %a{:href => frontend_todo_path(todo_detail),  "data-toggle"=>"tooltip", "title"=>todo_detail.name, "data-keyboard" => false, "data-backdrop" => "static", "data-toggle"=>"modal", "data-target"=>"#foxyModal"}
                        = todo_detail.name


    // du lieu backlog
    %right-container.speed-border-radius.border-speed
      %div.right-header.speed-border-radius Backlog
      %div.speed-panel.wrapper-todo-team-list.remove-padding-left
        %todo-list-name.backlogs
          %div.todo-list-panel.wrapper-todo-list.clearfix
            %div.todo-list.sortable
              -todo_users = current_user.todos.where(:status => 'undone',:archived => [nil,false]).order("position,due_date ASC")
              - todo_users.each do |todo_detail|
                - if !todo_detail.nil?
                  - if (todo_detail.todo_list.present? and todo_detail.todo_list.archived != true)
                    -# - if (todo_detail.todo_list.archived != true)
                    =render "layouts/speed-component/partial/todo_date_user", todo_detail: todo_detail
    :javascript
      $(document).ready( function() {
        set_height_scroll('left-container', '.left-header', '', '', '', '.wrapper-todo-team-list', 0);
        set_height_scroll('right-container', '.right-header', '.speed-panel-wrapper', '', '', '.wrapper-todo-team-list', 0);
      });
