$color_1                           : #63acbf;
$color_1_1                         : #639DBF;
$color_2                           : #2F92B5;
$color_3                           : #2e91b4;
$color_3_1                         : #2E7AB4;
$color_4                           : #fff;
$color_14                          : #ececec;
$color_17                          : #f7f7f7;
$color_5                           : #f2f2f2;
$color_10                          : #e1e1e1;
$color_15                          : #a9a9a9;
$color_13                          : #7f7f7f;
$color_11                          : #8c8c8c;
$color_16                          : #818181;
$color_7                           : #424242;
$color_8                           : #515151;
$color_12                          : #616161;
$color_6                           : #000;
$color_18                          : #414141;
$border_color                      : #EBEBEB;
$checkbox_border_color             : #95989A;
$container_background              : #fff;
$sort_button_color: #a3a3a3;

$placeholder_color: #ECECEC;

$table_top_color: #fcfcfc;
$background_gradient               : linear-gradient(to left, $color_1 , $color_3);
$btn_gradient                      : linear-gradient(to left, $color_1_1 , $color_3_1);

//font size:
$font_size_lg: 18px;
$font_size_md: 16px;
$font_size_sm: 14px;
$font_size_xs-plus-1: 13px;
$font_size_xs: 12px;

//font-weight:
$font_weight_lg: 600;
$font_weight_md: 500;
$font_weight_sm: 400;
$font_weight_xs: 300;
//font-name:
$font_name_1: 'Roboto';


$line_height_default: 1.5;
//opacity
$opacity_lg: 1;
$opacity_md: 0.5;
$opacity_sm: 0.3;
$opacity_xs: 0;

$scrollbar_color                   : #7d7d7d;
$padding_left_container: 20px;
$padding_left_today_task: 15px;

$border_radius                     : 4px;
$container_min_height              : 600px;

$container_width_lg: 1170px;
$right_container_width: 835px;
$left_container_width: 325px;

$modal_width_lg: 725px;
$modal_width_md: 575px;



//scrollbar_color
$background_color_1: $container_background;
$background_color_2: #C7DEE4;
$background_color_3: $color_1;
$border_top_color_1: #999999;
// $lable-edit                        : 15px;
// $header_background                 : #5d5d5d;
// $header_background_top             : #000;
// $header_background_bottom          : #fff;
// $header_background_active          : #f5072b;
// $header_left_background            : #72e6cf;
// $header_middle_background          : #43a83b;
// $header_right_background           : $header_background_top;
// $panel_heading_background          : #fff;
// $button_background                 : #797979;
// $body_background                   : #70e822;
// $num_task_background               : #787878;
// $container_speed_header_background : #0066b9;
// $background_hover                  : #d45245;
// $header_font_weight                : 800;
// $header_font_size                  : 16px;
// $task_item_font_size               : 18px;
// $task_deadline_font_size           : 15px;
// $todo_list_font_size               : 18px;
// $speed_panel_heading_font_size     : 15px;
// $speed_panel_heading_font_weight   : 700;
// $header_line_height                : 2.5;
// $container_today_task              : 500px;
// $header_font_color                 : #000;
// $num_task_font_color               : #505050;
// $header_font_color_active          : #000;
// $header_bottom_font_color_active   : #fff;
// $header_bottom_font_color_active   : #000;
// $header_bottom_font_color          : #000;
// $container_color                   : #f5f5f5;
// $todo_list_font_color              : rgba(0, 0, 0, 0.52);
// font

// height

// font-color

// header color
